<?xml version="1.0"?>
<model>
  <name>hex_platform</name>
  <version>2.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Basheer Al-Tawil</name><email>basheeraltaweel@gmail.com</email></author>
  <description>RoboCraft hexagonal platform with six passive leg bearings and a laser head.</description>
</model>
